{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <!-- banner-bottom -->
    <div id="about" class="banner-bottom">
        <div class="container">
            <div class="col-md-7 w3_agileits_banner_bottom_left">
                <img src="{% static "images/1.jpg" %}" alt=" " class="img-responsive"/>
            </div>
            <div class="col-md-3 w3_agileits_banner_bottom_right">
                <div class="w3_agileits_banner_bottom_right_pos">
                    <h3>Биз жонундо</h3>
                    <h4>best theme for education</h4>
                    <p>Aenean sed lacinia tellus, ut vulputate nisi. Mauris mollis metus sit amet
                        imperdiet egestas. Vivamus malesuada enim.</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //banner-bottom -->
    <!-- banner-text -->
    <div class="banner-text w3-agile-banner-text">
        <div class="container">
            <h3>Education is the most powerful weapon which you can use to change the world</h3>
        </div>
    </div>
    <!-- //banner-text -->
    <!-- services -->
    <div class="services" id="services">
        <div class="container">
            <h3 class="wthree_head"><i class="fa fa-book" aria-hidden="true"></i><span>Graduate</span>Special Services
            </h3>
            <div class="agileinfo_services_grids">
                <div class="col-md-4 agileinfo_services_grid">
                    <div class="agileinfo_services_grid_left">
                        <h4>Qualified Staffs</h4>
                    </div>
                    <div class="agileinfo_services_grid_right">
                        <h4>01.</h4>
                    </div>
                    <div class="clearfix"></div>
                    <p>Aliquam ex orci, dapibus eu facilisis non, scelerisque id nisl.
                        Praesent at tincidunt nisi. Aliquam molestie sem a purus pharetra.</p>
                </div>
                <div class="col-md-4 agileinfo_services_grid">
                    <div class="agileinfo_services_grid_left">
                        <h4>Career Growth</h4>
                    </div>
                    <div class="agileinfo_services_grid_right">
                        <h4>02.</h4>
                    </div>
                    <div class="clearfix"></div>
                    <p>Aliquam ex orci, dapibus eu facilisis non, scelerisque id nisl.
                        Praesent at tincidunt nisi. Aliquam molestie sem a purus pharetra.</p>
                </div>
                <div class="col-md-4 agileinfo_services_grid">
                    <div class="agileinfo_services_grid_left">
                        <h4>Sports & Events</h4>
                    </div>
                    <div class="agileinfo_services_grid_right">
                        <h4>03.</h4>
                    </div>
                    <div class="clearfix"></div>
                    <p>Aliquam ex orci, dapibus eu facilisis non, scelerisque id nisl.
                        Praesent at tincidunt nisi. Aliquam molestie sem a purus pharetra.</p>
                </div>
                <div class="col-md-4 agileinfo_services_grid">
                    <div class="agileinfo_services_grid_left">
                        <h4>Useful Syllabus</h4>
                    </div>
                    <div class="agileinfo_services_grid_right">
                        <h4>04.</h4>
                    </div>
                    <div class="clearfix"></div>
                    <p>Aliquam ex orci, dapibus eu facilisis non, scelerisque id nisl.
                        Praesent at tincidunt nisi. Aliquam molestie sem a purus pharetra.</p>
                </div>
                <div class="col-md-4 agileinfo_services_grid">
                    <div class="agileinfo_services_grid_left">
                        <h4>Award Winning</h4>
                    </div>
                    <div class="agileinfo_services_grid_right">
                        <h4>05.</h4>
                    </div>
                    <div class="clearfix"></div>
                    <p>Aliquam ex orci, dapibus eu facilisis non, scelerisque id nisl.
                        Praesent at tincidunt nisi. Aliquam molestie sem a purus pharetra.</p>
                </div>
                <div class="col-md-4 agileinfo_services_grid">
                    <div class="agileinfo_services_grid_left">
                        <h4>Research Programs</h4>
                    </div>
                    <div class="agileinfo_services_grid_right">
                        <h4>06.</h4>
                    </div>
                    <div class="clearfix"></div>
                    <p>Aliquam ex orci, dapibus eu facilisis non, scelerisque id nisl.
                        Praesent at tincidunt nisi. Aliquam molestie sem a purus pharetra.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //services -->
    <!-- team -->
    <div class="team">
    </div>
    <!-- //team -->

{% endblock %}